export const styles = {
    style : {
      height: 450,
      width: 400,
      marginTop: "10%",
      marginLeft:"40%",
      textAlign: 'center',
      display: 'inline-block',
      borderRadius:5,
      opacity:"0.9"
    },
    styleEmail:{
      marginTop: 50,
      marginLeft:40,
      marginRight: 40,
      marginBottom: 15
  },
    stylePassword:{
      marginTop: 0,
      marginLeft:40,
      marginRight: 40,
      marginBottom: 0
  },
    styleButton:{
      marginTop: 20
    },
  };
 